name: Dependabot auto-merge
on: pull_request_target

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Approve PR
        run: |
          review_decision=$(gh pr view "$PR_URL" --json reviewDecision -q .reviewDecision)
          if [ "$review_decision" != "APPROVED" ]; then
            gh pr review --approve "$PR_URL"
          else
            echo "PR already approved."
          fi
          gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
