name: Build and push docker image

on:
  workflow_call:
    inputs:
      appName:
        description: The name of the app to build
        required: true
        type: string
      dockerImageName:
        description: The name to publish the image as
        required: true
        type: string

jobs:
  has-changed:
    runs-on: ubuntu-latest
    outputs:
      hasChanged: ${{ steps.version-updated.outputs.has-updated }}
      currentVersion: ${{ steps.version-updated.outputs.current-package-version }}
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: 'apps/${{ inputs.appName }}/package.json'
      - uses: MontyD/package-json-updated-action@1.0.1
        id: version-updated
        with:
          path: ./apps/${{ inputs.appName }}/package.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-push-docker-container:
    needs:
      - has-changed
    runs-on: ubuntu-latest
    if: ${{ needs.has-changed.outputs.hasChanged == 'true' }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image
        uses: docker/build-push-action@v6
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
        with:
          file: ./apps/${{ inputs.appName }}/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ inputs.dockerImageName }}:${{ needs.has-changed.outputs.currentVersion }}
